<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<%- include('layouts/header'); -%>

    <body>
        <!-- Navigation-->
        <%- include('layouts/nav'); -%>
            <!-- Page Header-->
            <header class="masthead">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="site-heading">
                                <h1>Dashboard</h1>
                                <span class="subheading">Welcome, <%= user.firstName %></span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Main Content -->
            <main class="mb-4">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <h2>Exam Results</h2>

                            <!-- Display Exam Results -->
                            <% if (user.testType && user.comment !='' && user.testResult !=null) { %>
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h5 class="card-title">Test Type: <%= user.testType %>
                                        </h5>
                                        <p class="card-text">Comment: <%= user.comment %>
                                        </p>
                                        <p class="card-text">
                                            Status: <%= user.testResult ? "Pass" : "Fail" %>
                                        </p>
                                    </div>
                                </div>
                                <% } else { %>
                                    <p>No exam results available.</p>
                                    <% } %>


                        </div>
                    </div>
                </div>
            </main>

            <!-- Footer-->
            <%- include('layouts/footer'); -%>
                <!-- Script -->
                <%- include('layouts/scripts'); -%>
    </body>

</html>