<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<%- include('layouts/header'); -%>

    <body>
        <!-- Navigation-->
        <%- include('layouts/nav'); -%>
            <!-- Page Header-->
            <header class="masthead">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="site-heading">
                                <h1>Examiner</h1>
                                <span class="subheading">Examiner Interface</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Main Content -->
            <main class="mb-4">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <h2>Appointments</h2>

                            <!-- Filter -->
                            <form method="GET" action="/examiner">
                                <div class="mb-3">
                                    <label for="testType" class="form-label">Filter by Test Type:</label>
                                    <select class="form-select" id="testType" name="testType"
                                        onchange="this.form.submit()">
                                        <option value="all">All</option>
                                        <option value="G">G</option>
                                        <option value="G2">G2</option>
                                    </select>
                                </div>
                            </form>

                            <!-- Appointments List -->
                            <div class="mt-4">
                                <% if (users.length> 0) { %>
                                    <ul class="list-group">
                                        <% users.forEach(user=> { %>
                                            <% if (user.appointment) { %>
                                                <li class="list-group-item">
                                                    <strong>Name:</strong>
                                                    <%= user.firstName %>
                                                        <%= user.lastName %><br>
                                                            <strong>License Number:</strong>
                                                            <%= user.licenseNumber %><br>
                                                                <strong>Test Type:</strong>
                                                                <%= user.testType %><br>
                                                                    <strong>Appointment Date:</strong>
                                                                    <%= user.appointment.date %><br>
                                                                        <strong>Appointment Time:</strong>
                                                                        <%= user.appointment.time %>
                                                                            <form method="POST"
                                                                                action="/updateTestResult" class="mt-3">
                                                                                <input type="hidden" name="userId"
                                                                                    value="<%= user._id %>">
                                                                                <div class="mb-3">
                                                                                    <label for="comment-<%= user._id %>"
                                                                                        class="form-label">Comment</label>
                                                                                    <textarea class="form-control"
                                                                                        id="comment-<%= user._id %>"
                                                                                        name="comment"
                                                                                        rows="2"><%= user.comment %></textarea>
                                                                                </div>
                                                                                <div class="mb-3">
                                                                                    <label class="form-check-label"
                                                                                        for="passFail-<%= user._id %>">Pass</label>
                                                                                    <input class="form-check-input"
                                                                                        type="radio" name="passFail"
                                                                                        id="passFail-<%= user._id %>"
                                                                                        value="true">
                                                                                    <label class="form-check-label"
                                                                                        for="passFail-<%= user._id %>">Fail</label>
                                                                                    <input class="form-check-input"
                                                                                        type="radio" name="passFail"
                                                                                        id="passFail-<%= user._id %>"
                                                                                        value="false">
                                                                                </div>
                                                                                <button type="submit"
                                                                                    class="btn btn-primary">Submit</button>
                                                                            </form>
                                                </li>
                                                <% } %>
                                                    <% }) %>
                                    </ul>
                                    <% } else { %>
                                        <p>No appointments found.</p>
                                        <% } %>
                            </div>

                        </div>
                    </div>
                </div>
            </main>

            <!-- Footer-->
            <%- include('layouts/footer'); -%>
                <!-- Script -->
                <%- include('layouts/scripts'); -%>
    </body>

</html>